@import "../../styles/colors.scss";

.nav {
   width: 100%;

   padding: 1rem;

   display: flex;
   justify-content: space-between;
   align-items: center;

   position: fixed;
}

.logo {
   margin-right: 2rem;
}

.left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}